head {
text-align:right;
}
body {
/* background-image: url("stock-eclipse.jpg");*/
 background-color: #eb4034;
 background-size: cover;
 background-repeat: no-repeat;
 height: 900px;
 color: #ffffff;
}
a {
color:#030303;
}
#appLinks {
    text-indent: 25px;
}
input[type="text"], textarea {

  background-color : #000000;
  color: #ffffff;

}
#submitButton, #searchButton, #newTicketButton, #showAllTicketsButton {
  background-color: #000000; /* Green */
  color: white;
}
img {
display: block;
  margin-left: auto;
  margin-right: auto;
}
