.idea/*
./universe/env.cfg
*/env.cfg
./universe/out/*
/universe/out/*
*/*.class
*/*.DS_Store
*.DS_Store
*/.DS-Store
/universe/env.cfg
*/*env.cfg
*/*Console_Log*
*/universe/logs/*
*/*universe/logs/*
./universe/logs/*
/universe/logs/*
